/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: lightblue;  
    background-image: url('bg.jpg');
    background-size: 150%;
    background-position: top 0px right 0px;
    background-repeat: no-repeat;
    font-size: 120%;
    color: darkslategray;
    margin-left: 20px;
  }

a, a:visited, a:active {
    color: inherit;
  }

.hidden {
    display: none;
}

button {
  font-size: 110%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}
